<div id="center-align">
        <div class="wrapper">
                <h1>What are You in the Mood For?</h1>
                <div class="list">
                         <ul>
                                <% @flavor_profiles.each do |fp| %>
                                <li><%= link_to fp.name, flavor_profile_path(fp), class: "link" %><br></li>
                                <% end %><br><br>
                         </ul>
                </div>
        </div>
</div>


