<h1>What are You in the Mood For?</h1>
<% @flavor_profiles.each do |fp| %>
<%= link_to fp.name, flavor_profile_path(fp) %><br>
<% end %><br><br>

<button><%= link_to "Taste Profiles", tastes_path, class: "button" %></button>



