<div id="center-align">
        <div class="wrapper">
                <h1>Here are the <%= @flavor_profile.name %> Recipes</h1><br><br>
                <% @flavor_profile.recipes.each do |r| %>
                <%= link_to r.name, recipe_path(r), class: "button" %><br><br>
                <% end %>
                <button><%= link_to "Back to Cuisines", flavor_profiles_path, class: "button" %></button>
        </div>
</div>

        

