<h1>Welcome to DINDR</h1><br>
<h3>Would you like to search by Cuisine or Taste?</h3><br>
<button><%= link_to "Cuisine", flavor_profiles_path, class: "button" %></button>
<button><%= link_to "Taste", tastes_path, class: "button" %></button>