<div id="center-align">
    <div class="wrapper">
            <h1>Here are the Recipes that Match your Tastes!</h1>
            <div class="list">
                <ul>
                    <% @list[0].each do |r| %>
                    <li><%= link_to r.name, recipe_path(r), class: "link" %><br></li>
                    <% end %><br><br>
                </ul>
            </div> 
            <button class="button"><%= link_to "Taste Profiles", tastes_path %></button>
    </div>
</div>



