<div id="center-align">
    <div class="about">
        <h3>About</h3>
        <p>Thank you for choosing Dindr! Aicha and Will were tired of not knowing what to eat, so they created a website to decide for you. Just let us know what type of cuisine or what flavors you are craving and we'll supply you with delicious and easy recipes. Bon Appetit!</p>
        <button><%= link_to "Let's Go!", home_path, class: "button" %></button>
    </div>
</div>
