<div id="center-align">
    <div class="about">
      <h3>Founders' Info</h3>
      <div class="row">
        <div class="column">
            <h4>Aicha Diallo</h4>
            <p>1440 G St NW 20001</p>
            <p>202-555-5555</p>
        </div>
        <div class="column">
            <h4>Will Comfort</h4>
            <p>1440 G St NW 20001</p>
            <p>202-555-5555</p>
        </div>
      </div>
    </div>
</div>

