<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <div id="center-align">
            <div class="wrapper">
                <h1>Let's Get Started!</h1><br>
                <iframe src="https://giphy.com/embed/ghYb9eadkJ0yc" width="700" height="400" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                <h3>Would you like to search by Cuisine or Taste?</h3><br>
                <button><%= link_to "Cuisine", flavor_profiles_path, class: "button" %></button>
                <button><%= link_to "Taste", tastes_path, class: "button" %></button>
            </div>
        </div>
        
</body>
</html>
