<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div id="welcome-body">
                <div class="welcomelogo">
                        <h1>Welcome to</h1>
                        <i class="fas fa-utensils fa-2x"></i>
                        <h1>DINDR</h1><br>
                        <button><%= link_to "Login", login_path, class: "button" %></button>
                        <button><%= link_to "Create Account", new_user_path, class: "button" %></button>
                </div>
    </div>
        
</body>
</html>

