/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#logo-text{
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: #9A031E;
    font-size: 20px;
    margin-top: 0;
}

.link{
    text-decoration: none;
    color: black;
}


body{
    background: url("DINDR.png");
    background-size: 170%;
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
    font-family: 'Ubuntu', sans-serif;
    color: #121619;
    font-size: 110%;
    font-weight: 200;
}
.welcomelogo{
    width: 30%;
    height: 350px;
    border: double #121619 5px;
    color: #9A031E;
    font-size: 110%;
}

#welcome-body{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 150%;
}

.wrapper{
    text-align: center;
}

#center-align{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 120%;
}

.about{
    width: 40%;
    text-align: center;
    
}

.topnav {
    background-color: #E8C547;
    overflow: hidden;
    display: block;
  }

  .topnav a {
    float: left;
    color: #9A031E;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: 17px;
    vertical-align: middle;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 2px;
  }

  .topnav a:hover {
    background-color: #009DDC;
    color: #121619;
  }
  .button {
    background-color: #E8C547;
    border: none;
    color: #9A031E;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .button a{
      text-decoration: none;
      color: #9A031E;
  }

  .list {
      text-align: left;
  }

  .list a:hover{
    background-color: #9A031E;
    color: #121619;
  }

  .tasteindex {
      text-align: center;
      padding-left: 50px;
  }
  
  .formcontrol {
      width: 500px;
      height: 200px;
  }

  .link:hover {
    background-color: #009DDC;
    color: #121619;
  }