/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#logo-text{
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: red;
    font-size: 20px;
}

.button{
    text-decoration: none;
    color: black;
}


body{
    background: url("DINDR.png");
    background-size: 165%;
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
    background-repeat: no-repeat, repeat;
    font-family: 'Ubuntu', sans-serif;
    color: darkslategray;
    font-size: 110%;
    font-weight: 200;
}
.welcomelogo{
    width: 30%;
    height: 350px;
    border: solid black 5px;
    color: red;
    font-size: 125%;
}

#welcome-body{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 150%;
}

.wrapper{
    text-align: center;
}

#center-align{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 120%;
}

.about{
    width: 40%;
    
}